.idk{
    padding-bottom: 15%;
}
.idk2{
    padding-bottom: 25%;
}
.container-photo{

    
    padding-right: 3%;
  padding-left: 3%;
 padding-top: 1%;
  padding-bottom: 1%;
 
   }
   .lmao{
       font-size: 10px;
   }
   .center{
       text-align: center;
       
   }
   .bru{
       padding-bottom: 1%;
   }
   .borderxd{
    margin-left: auto;
    margin-right: auto;
       width: 350px;
       
       
   }
   .navbg{
       background-color: rgba(255, 255, 255, 0.51);
       filter: blur(4px);
       
   }
   .bottom{
       
       bottom:10px;


   }
   .right{
       
       text-align: right;
   }
   .display-7{
       font-weight: lighter;
       font-size: 27px;
   }
   .ptop{
       padding-top: 15%;
   }
   .emote{
       margin-left: 2%;
       width: 30px;
   }