.idk{
    padding-bottom: 20%;
}
.container-photo{

    
    padding-right: 3%;
  padding-left: 3%;
 padding-top: 1%;
  padding-bottom: 1%;
 
   }
   .lmao{
       font-size: 10px;
   }
   .center{
       text-align: center;
   }